html {
    height: 100%;
}
body {
    min-height: 100%;
}
html, body {
    padding: 0;
    margin: 0;
}
.drawer_cont {
    padding: 30px 0;
    box-shadow: 0 0 15px #141414;
    z-index: 10;
    top: 100vh;
    left: 0;
    transform: translateY(-100%);
    position: fixed;
    width: 100%;
}
.svg_arr {
    position: absolute;
    left: calc(50% - 50px);
    top: 1px;
    transform: translateY(-100%);
    z-index: 11;
    cursor: pointer;
}
#arrow_angle {
    pointer-events: none;
}
.pic_cont {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    flex: 1;
}
.inner_wrapper {
    height: 0;
    overflow: hidden;
    position: relative;
    max-height: 450px;
    display: flex;
    width: 100%;
}
.pic {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 4px;
    box-shadow: 0 0 4px #141414;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}
.ov {
    height: 100%;
    position: relative;
    overflow-y: scroll;
    width: 100%;
}
.dropzone_border {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.dropzone_cont {
    min-height: 200px;
}
.dropzone_text {
    opacity: 0;
}